<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if city %}{{ city.name }}'s Hottest Venues | Trending on Social | TRNDIE{% elseif title %}{{ title }}{% else %}TRNDIE{% endif %}</title>
  <link rel="stylesheet" href="/css/style.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.gaId }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.gaId }}');
  </script>
</head>
<body class="{% if city %}page-city{% else %}page-home{% endif %}">
  {{ content | safe }}
</body>
</html>
